<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>PhotoCage app</title>
     <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header>
	  <div class="container">
	    <a href="#"><img src="img/logo.png" alt="Icon" class="logo"></a>
		  <nav>
		    <ul class="menu">
			  <li>
			    <a href="#" class="link">
				  <img src="img/home.png" alt="Icon">
				  <div class="list">Home</div>
				</a>
			  </li>
			  <li>
			    <a href="#" class="link">
				  <img src="img/gallery.png" alt="Icon">
				  <div class="list">Gallery</div>
				</a>
			  </li>
			  <li>
			    <a href="#" class="link">
				 <img src="img/Members.png" alt="Icon">
				 <div class="list">Members</div>
				</a>
			  </li>
			  <li>
			    <a href="#" class="link">
				  <img src="img/Logout.png" alt="Icon">
				  <div class="list">Logout</div>
				</a>
			  </li>
			</ul>
		  </nav>
	  </div>
	</header>
	<section>
	  <div class="container">
	    <h1>Please select an image from your computer</h1>
		  <form action="#" method="#">
		    <div class="search">
		      <input type="search" name="q">
			  <a href="#" class="browse">Browse</a>
		      <!--<input type="button" value="Browse">-->
		    </div>
		  </form>
		  <a class="button" href="#">Upload image</a>
		<div class="images clearfix">
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img1.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		       <img src="img/img2.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img3.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div> 
          <div class="images__first">		  
		    <a href="#" class="image">
		      <img src="img/img4.jpg" alt="#">
			</a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
	    </div>
		<div class="images clearfix">
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img5.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		       <img src="img/img6.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img7.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div> 
          <div class="images__first">		  
		    <a href="#" class="image">
		      <img src="img/img8.jpg" alt="#">
			</a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
	    </div>
		<div class="images clearfix">
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img9.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		       <img src="img/img10.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
		  <div class="images__first">
		    <a href="#" class="image">
		      <img src="img/img11.jpg" alt="#">
		    </a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div> 
          <div class="images__first">		  
		    <a href="#" class="image">
		      <img src="img/img12.jpg" alt="#">
			</a>
			<p>
			   Lorem Ipsum is simply
			   <a href="#" class="star">
			     <img src="img/star.png" alt="#">
			   </a>
			</p>
			<hr>
			<p>Share</p>
		  </div>
	    </div>
	  </div>
   </section>
   <footer class="footer">
     <div>
	   <p>
	     <a href="#">&copy; 2013 Photocage app powered by cssauthor.com</a>
	   </p>
	 </div>
   </footer>
</body>
</html>